[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
